// Container

.container {
    width: 100%;
    max-width: #{$container-width + $gutter * 2};
    margin: 0 auto;
    padding: 0 $gutter;

    .section & {
        position: relative;
    }
}

// Row

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$gutter-half};
}

// Columns

.col {
    @for $i from 1 through $cols {

        &-#{$i} {
            width: #{100%/$cols * $i};
            padding: 0 #{$gutter-half};
        }

        @include resp($tablet) {
            &-#{$i}-sm {
                width: #{100%/$cols * $i};
            }
        }

        @include resp($mobile) {
            &-#{$i}-xs {
                width: #{100%/$cols * $i};
            }
        }
    }
}

// Columns

.offset {
    @for $i from 1 through $cols {

        &-#{$i} {
            margin-left: #{100%/$cols * $i};
        }

        @include resp($tablet) {
            &-#{$i}-sm {
                margin-left: #{100%/$cols * $i};
            }
        }

        @include resp($mobile) {
            &-#{$i}-xs {
                margin-left: #{100%/$cols * $i};
            }
        }
    }
}