// Container

.container {
    width: 100%;
    max-width: #{$site-width + $gutter * 2};
    margin: 0 auto;
    padding: 0 $gutter;
}

// Row

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 #{$gutter/-2};
}

// Columns

.col {
    @for $i from 1 through $cols {

        &-#{$i} {
            width: #{100%/$cols * $i};
            padding: 0 #{$gutter/2};
        }

        @include resp($tablet) {
            &-#{$i}-sm {
                width: #{100%/$cols * $i};
            }
        }

        @include resp($mobile) {
            &-#{$i}-xs {
                width: #{100%/$cols * $i};
            }
        }
    }
}