// Section

$animation-duration: .3s;

.section {
    position: relative;
    height: 100vh;

    // Backdrop

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $brand-red;
        transform-origin: 0 0;
        transition: transform $animation-duration;
    }

    @for $i from 1 through 8 {
        &.bg-l-#{$i}::before {
            transform: translate3d(#{100% / 8 * $i}, 0, 0);
        }
        &.bg-r-#{$i}::before {
            transform: translate3d(#{-100% / 8 * $i}, 0, 0);
        }
    }

    // Section content

    &-content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

// UNITS

$units: 8;

@for $i from 1 through $units {
    .unit-#{$i} {
        position: relative;
        width: #{$i * 100% / $units};
        // padding-top: 20vh;
        // padding-bottom: 20vh;

        @if $i != 1 {
            padding-right: #{100% / $units};
            padding-left: #{100% / $units};
        }
    }
}

.full-height {
    min-height: 100%;
}

.bg-image-cover {
    background-position: center;
    background-size: cover;
}