.container
    .row
        .col-4.col-6-sm.col-12-xs
            p Copyright &copy; #{new Date().getFullYear()}
        .col-4.col-6-sm.col-12-xs
            ul
                li: a(href="#") Link 1
                li: a(href="#") Link 2
                li: a(href="#") Link 3
                li: a(href="#") Link 4