doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=1200, initial-scale=1.0")
        title koreshkov.github.io
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|Oswald&amp;subset=cyrillic" rel="stylesheet">
        link(rel='stylesheet', href='content/css/screen.min.css')
        //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-127913070-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-127913070-1');
    body
        block content
