html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="content/css/screen.css")
    body
        include header
        main.main
            block content
        include footer
        script(src="content/js/bundle.app.js")