extends layout/layout

block content
        #app
            router-view
        script(type='text/javascript', src='/content/js/vendor.bundle.js')
        script(type='text/javascript', src='/content/js/app.bundle.js')