// Header

.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

// Logo

// .header-logo {
//     width: 80px;
//     height: 80px;
//     color: $grey;
//     font-size: 2rem;
//     font-family: $ffa;
//     font-weight: 400;
//     line-height: 80px;
//     text-align: center;
// }


// .navToggle {
//     display: block;
//     width: $gutter;
//     height: $gutter;
//     border: none;
//     background-color: transparent;
//     color: $grey;
//     font-size: 2rem;
//     font-family: $ffa;
//     font-weight: 400;
//     line-height: 80px;
//     text-align: center;
// }

// .navWrapper {
//     display: none;
// }