// Quote

.moduleQuote {

    blockquote {
        font-size: 2rem;
        text-align: center;

        &::before {
            content: '"';
        }
        &::after {
            content: '"';
        }
    }
}